
body {
    background: radial-gradient( #1b2735 100%, #090a0f 100%);
    overflow-x: hidden;
}

#heart {
    font-size: 3em;
    animation: pulse 1s ease-in-out infinite;
    justify-content: center;
    text-align: center;
  }
  
   @keyframes pulse {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1); }
  }

#languages {
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

p:hover{
    color: red;
}